@use 'variable' as var;

.header {
    margin-top: 170px;
    .row {
        display: grid;
        grid-template-columns: 1fr .7fr;
        align-items: center;
        .first-col {
            margin-top: -10px;
            display: flex;
            flex-direction: column;
            p {
                font-size: 23px;
                font-family: var.$titleFont;
            }
            .display-2 {
                font-size: 60px;
                color: rgba(51, 51, 51, 0.918);
                font-family: var.$titleFont;
            }
            small {
                padding-left: 5px;
                margin-top: 5px;
                font-family: var.$titleFont;
            }
            a {
                margin-top: 25px;
                width: 150px;
                font-size: 12px;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: map-get($map: var.$bgc, $key: 'main');
                letter-spacing: 1px;
            }
            a:hover .fa-angles-right {
                transform: translateX(7px);
                transition: transform .5s ease-in-out;
            }
        }
        .second-col {
            .d-flex {
                flex: 0 0 auto;
                width: 340px;
                .carousel {
                    .carousel-inner {
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        .row {
            .first-col {
                display: flex;
                justify-content: center;
                p {
                    font-size: 20px;
                }
                .display-2 {
                    font-size: 50px;
                }
            }
            .second-col {
                .d-flex {
                    flex: unset;
                    width: 300px;
                    .carousel {
                        .carousel-inner {
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 765px) {
    .header {
        .row {
            display: grid;
            grid-template-columns: 1fr;
            align-items: flex-start;
            row-gap: 30px;
            .first-col {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    font-size: 20px;
                }
                .display-2 {
                    font-size: 45px;
                }
                .w-75 {
                    text-align: center;
                }
                a {
                    margin-top: 20px;
                    width: 130px;
                    font-size: 11.5px;
                    padding-top: 9px;
                    padding-bottom: 9px;
                    background-color: map-get($map: var.$bgc, $key: 'main');
                    letter-spacing: 1px;
                }
            }
            .second-col {
                .d-flex {
                    justify-content: center;
                    width: 300px;
                    .carousel {
                        .carousel-inner {
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                        }
                    }
                }
            }
        }
    }
}
