
@use 'variable' as var;

.navbar {
    background-color: map-get($map: var.$bgc, $key: 'main');
    width: 100%;
    padding: 20px 0;
    .container-fluid {
        .navbar-brand {
            .title-logo {
                font-family: var.$titleFont;
                font-size: 20px;
                color: map-get($map: var.$txtcolor, $key: 'brand-text');
                letter-spacing: 2.5px;
                text-transform: uppercase;
            }
        }
        .navbar-collapse {
            transition: all .3s ease;
            .navbar-nav {
                .nav-link {
                    font-weight: 700;
                    font-size: 14.5px;
                    font-family: var.$textFont;
                    font-weight: normal;
                    letter-spacing: .2px;
                    color: map-get($map: var.$txtcolor, $key: 'brand-text');
                    transform: translateY(4px);
                    transition: all .3s ease;
                }
                .nav-link:hover {
                    color: #000;
                }
                li {
                    div {
                        height: 44px;
                        width: 44px;
                        overflow: hidden;
                        cursor: pointer;
                        img {
                            object-fit: cover;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 765px) {
    .navbar {
        .container-fluid {
            .navbar-brand {
                .title-logo {
                    font-size: 18px;
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    margin-top: 15px;
                    text-align: center;
                    .nav-link {
                        font-size: 13px;
                    }
                }
                .nav-link {
                    transform: translateY(0px);
                }
            }
        }
    }
}