
$titleFont: 'Lato', sans-serif;
$textFont: 'Nanum Gothic', sans-serif;

$bgc: (
    'dark-mate' : #212121,
    'light-mate' : #f2f2f2,
    'light' : #fff,
    'main' : #0F5298
    // 'main' : #2565AE
);

$txtcolor: (
    'brand-text' : #444,
    'nav-list' : #555
);