
$titleFont: 'Lato', sans-serif;
$textFont: 'Nanum Gothic', sans-serif;

$bgc: (
    'dark-mate' : #212121,
    'light-mate' : #f7f7f7,
    'light' : #fff,
    'main' : rgb(235,235,235)
);

$txtcolor: (
    'brand-text' : #222,
    'nav-list' : #444
);